#title-text {
    font-family: 'Sunshiney', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 22pt;
}

.sidebar {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 45px;
    width: 180px;
    overflow-x: hidden;
    white-space: nowrap;
    background-color: #f8f8f8;
    border-right: 1px solid #D8D8D8;
}
.sidebar ul {
    padding: 10px 0;
    list-style-type: none;
    margin: 0 auto;
}
.sidebar ul li {
    text-align: center;
    padding: 2px 0;
}
.sidebar ul li:hover {
    background-color: #CED8F6;
}
.sidebar-divider {
    margin-top: 25px;
}
.sidebar-username {
    padding-left: 10px;
}
.sidebar a {
    color: #000000;
}

#friend-request-container {
    display: none;
    background-color: #77A2BC;
}
#friend-request-list-title {
    font-family: "Lato", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 18pt;
    text-align: center;
    padding: 10px 0 0 0;
    margin-top: 0;
}
#friend-request-list {
    padding-bottom: 0;
    margin-bottom: 0;
}
#friend-request-list li {
    text-align: left;
}
.request-profile-link {
    display: none;
    padding: 10px;
}
.request-accept-link {
    display: none;
    padding: 10px;
}

#friend-list-title {
    font-family: "Lato", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 18pt;
    text-align: center;
    padding: 10px 0 0 0;
    margin-top: 3px;
}
#friend-list li {
    text-align: left;
}

#randoms-list-title {
    font-family: "Lato", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 18pt;
    text-align: center;
    padding: 0;
}
#randoms-list li {
    text-align: left;
}
.tinypic {
    width: 25px;
    height: 25px;
}
.tinypic-listing {
    overflow-x: hidden;
    margin-left: 5px;
    line-height: 26pt;
}

#vitals {
    border: 1px solid #D5D1D1;
    background-color: #ffffff;
}

#dyffy-logo {
    height: 255px;
    width: 350px;
}

.padding-top-35 {
    padding-top: 35px;
}
.padding-top-15 {
    padding-top: 15px;
}
.margin-top-15 {
    margin-top: 15px;
}
.centered {
    text-align: center;
    margin: 0 auto;
}

@media only screen and (max-width: 640px) {
    body {
        -webkit-text-size-adjust: none;
    }
    #main-block {
        padding-left: 0;
    }
    .sidebar {
        position: relative;
        left: 0;
        top: 45px;
        width: 200px;
        overflow-x: hidden;
        white-space: nowrap;
        background-color: #f8f8f8;
        border-right: 1px solid #D8D8D8;
        width: 100%;
    }
}

#modal-ok-box {
    display: none;
}
#modal-ok-button {
    margin-bottom: 0;
}

#splash-block {
    max-width: 62.5rem;
    padding: 0 5px 25px 5px;
    margin: 20px auto 0 auto !important;
}

.flashes {
    list-style-type: none;
    font-size: 22pt;
}

#footer {
    /*color: white;*/
}

.dropdown {
    border: 1px solid #000;
}

#big-logo {
    padding: 0;
    margin: 0;
}

#splash-screen {
    margin: 20px auto 0 auto;
    text-align: center;
    background: url(../uploads/cyclicoin.png) no-repeat center;
    height: 510px;
}

#member-menu {
    display: none;
}

/* vertical spacers */

.vertical-spacer-5 {
    width: 100%;
    height: 5px;
}
.vertical-spacer-10 {
    clear: both;
    width: 100%;
    height: 10px;
}
.vertical-spacer-25 {
    clear: both;
    width: 100%;
    height: 25px;
}
.vertical-spacer-30 {
    clear: both;
    width: 100%;
    height: 30px;
}
.vertical-spacer-50 {
    clear: both;
    width: 100%;
    height: 50px;
}

.checkbox-label {
    padding: 0 10px;
}
.right-space {
    margin-right: 15px;
}

.timestamp {
    color: #959595;
}

.user-profile h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

#profile-pic img {
    width: 250px;
    float: left;
    padding-right: 25px;
}

.flash-messages {
    padding-top: 50px;
}

#live-feed {
    line-height: 45px;
    color: white;
    border: none;
    width: 100%;
    padding: 12px 20px;
    font-size: 0.8125rem;
    font-weight: normal;
    text-transform: none;
    box-sizing: border-box;
    text-align: center;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

#chat-box {
    border: 1px solid #ccc;
    height: 240px;
    background-color: white;
    width: 100%;
    word-wrap: break-word;
    overflow-y: auto;
}
#babble {
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 11pt;
    padding: 10px;
    line-height: 18pt;
    text-align: left;
}

#expander {
    clear: both;
}

.light-gray-box {
    border: 1px solid #ccc;
    padding: 25px 25px 0 25px;
    background-color: #e9eaed;
}
.profile-box {
    border: none;
    padding: 10px 20px;
    min-height: 450px;
    text-align: left;
}

#wallet-block {
    border: 1px solid #D8D8D8;
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    margin-top: 10px;
    font-size: 13pt;
    background: white;
}

.leftbar {
    clear: right;
    float: right;
}

.horizontal-list li {
    display: inline;
}

#display-dyff-balance {
    margin: 5px auto 10px auto;
    text-align: center;
}
#display-dyff-balance ul {
    list-style-type: none;
}

#close_button {
    float: right;
    text-align: right;
}

#registration-successful-lightbox {
    font: 15px/20px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 14px 22px;
    width: 50%;
    position: relative;
    color: #000;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #777;
}

.blue-text {
    color: blue;
}
.red-text {
    color: red;
}

#userlist {
    text-align: center;
    word-wrap: break-word;
    margin: 0 auto;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 400px;
    min-height: 225px;
}
#userlist table {
    width: 100%;
}
.minipic {
    width: 50px;
    height: 50px;
}
.minipic-listing {
    overflow-x: hidden;
}

#chart-container {
    border: 1px solid #ccc;
    height: 300px;
    margin: 0 auto;
    background-color: white;
}

#loading-circle {
 /*   display: none;*/
    position: relative;
    top: 100px;
    text-align: center;
}
#loading {
    height: 50px;
    width: 50px;
}

#display-orders {
    height: 200px;
    overflow-y: auto;
}
#display-orders table {
    width: 100%;
}
#display-orders th {
    text-align: left;
}

.row.full-width {
    width: 100%;
    max-width: 100%; 
}

#profile-lightbox {
    display: none;
    background: white;
    border: 2px solid #373636;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 18pt;
    min-width: 50%;
}
.profile-header {
    padding-top: 10px;
    font-weight: bold;
    font-size: 22pt;
    border-bottom: 1px solid #373636;
}

#wallet-header {
    font-weight: bold;
    font-size: 14pt;
    text-align: center;
}
#wallet-header:hover {
    background-color: white;
}

.text-container {
    padding: 25px 25px 0 25px;
}

.lightbox-header {
    padding: 15px 25px 0 25px;
    font-size: 20pt;
}
#close_button {
    float: right;
}
#profile-close-button {
    float: right;
}

.account-secret-list {
    list-style-type: none;
    padding-bottom: 5px;
}

.lightbox-paragraph {
    clear: both;
    padding-bottom: 0;
}

#scribble-box {
    min-height: 300px;
    max-height: 500px;
    width: 100%;
    word-wrap: break-word;
    overflow-y: auto;
    border: 1px solid #D5D1D1;
    background-color: #ffffff;
}
#scribble {
    font-size: 12pt;
    padding: 10px;
    line-height: 22pt;
    text-align: left;
}

.size-12-font {
    font-size: 12pt !important;
}

#awards-box {
    border: 1px solid #D5D1D1;
    background-color: #ffffff;
}
#awards-list {
    list-style-type: none;
}
#awards-list .not-won {
    color: #9C9C9C;
    line-height: 28pt;
}

.ui-tooltip {
    background: #666;
    color: white;
    border: none;
    padding: 0;
    opacity: 1;
}
.ui-tooltip-content {
    position: relative;
    padding: 1em;
}
.ui-tooltip-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    display: block;
    width: 0;
}
.right .ui-tooltip-content::after {
    top: 18px;
    left: -10px;
    border-color: transparent #666;
    border-width: 10px 10px 10px 0;
}
.left .ui-tooltip-content::after {
    top: 18px;
    right: -10px;
    border-color: transparent #666;
    border-width: 10px 0 10px 10px;
}
.top .ui-tooltip-content::after {
    bottom: -10px;
    left: 72px;
    border-color: #666 transparent;
    border-width: 10px 10px 0;    
}
.bottom .ui-tooltip-content::after {
    top: -10px;
    left: 72px;
    border-color: #666 transparent;
    border-width: 0 10px 10px;
}

#edit-profile-pic {
    display: none;
}
#edit-vitals {
    display: none;
}

.current-bets {
    height: 200px;
    max-height: 200px;
    border: 1px solid #ccc;
    background-color: #fff;
    margin-bottom: 10px;
    overflow: auto;
}

.gochi {
    font-family: 'Gochi Hand', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 20pt;
    text-align: center;
}
.gochi-medium {
    font-family: 'Gochi Hand', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 30pt;
    text-align: center;
}
.gochi-large {
    font-family: 'Gochi Hand', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 42pt;
    text-align: center;    
}

.bet-button {
    max-width: 75%;
}

.full-width {
    width: 100%;
}

/* countdown CSS */
.time-remaining {
    display: table;
    margin: 0 auto;
}
.cell {
    display: table-cell;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}
.cntSeparator {
    display: none;
}
.cntDigit#cnt_0 {
    margin-left: 0px;
}
.cntDigit#cnt_2 {
    margin-left: 7px;
}
.cntDigit#cnt_4 {
    margin-right: 0;
}
