{% extends "layout.html" %}
{% block page %}<script>window.page = "index";</script>{% endblock %}
{% block body %}
  <div class="row">
    <div class="large-12 columns">
      {% include "tabs.html" %}
    </div>
  </div>
{% endblock %}
{% block lowerbody %}
  <div class="row">
    <div class="large-6 columns end">
      <div id="display-orders">
        <div id="loading-circle">
          <img src="/static/img/loading.gif" id="loading" />
          <br /><br />
          Loading order book...
        </div>
      </div>
    </div>
    <form id="get-order-book" method="POST" action='#'>
      <div class="large-4 columns">
        <select id="order-book-picker">
          <option value="XRP-BTC.Bitstamp">Ripple vs Bitcoin (Bitstamp)</option>
          <option value="XRP-USD.Bitstamp">Ripple vs US Dollar (Bitstamp)</option>
        </select>
      </div>
      <div class="large-2 columns end">
        <input type="text" id="order-book-limit" placeholder="# results" />
      </div>
      <div class="row full-width">
        <input type="submit" value="Go" class="right" />
      </div>
    </form>
  </div>
{% endblock %}
