{% extends "layout.html" %}
{% block page %}<script>window.page = "index";</script>{% endblock %}
{% block body %}
  <div class="row">
    {% include "tabs.html" %}
  </div>
{% endblock %}
{% block lowerbody %}
  <div class="row">
    <div class="large-6 columns" id="offer-cancel-action">
      <center><h6>Open Orders</h6><small>click to cancel</small></center>
      <hr />
      <div id="user-open-orders"></div>
      <form id="OfferCancel" method="POST" action='#' class="transaction">
      </form>
    </div>
    <div class="large-6 columns end">
      <div id="display-orders">
        <div id="loading-circle">
          <img src="/static/img/loading.gif" id="loading" />
          <br /><br />
          Loading order book...
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <form id="get-order-book" method="POST" action='#'>
      <div class="large-12 columns">
        <select id="order-book-picker">
          <option value="XRP-BTC.Bitstamp">Ripple vs Bitcoin (Bitstamp)</option>
          <option value="XRP-USD.Bitstamp">Ripple vs US Dollar (Bitstamp)</option>
        </select>
      </div>
    </form>
  </div>
{% endblock %}
