<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CoinFish</title>
    <link rel="stylesheet" href="/static/css/foundation.css" />
    <link rel="stylesheet" href="/static/css/bridge.css" />
    <link rel="stylesheet" type="text/css" href='//fonts.googleapis.com/css?family=Sunshiney|Lato:300|Open+Sans:300|Gochi+Hand' />
    <link rel="shortcut icon" href="/static/favicon.ico" />
    <script src="/static/js/vendor/modernizr.js"></script>
  </head>
  {% block page %}{% endblock %}
  <body>
    <div id="fb-root"></div>
    <div id="whole-body-wrapper">
      {% include "navbar.html" %}
        <section id="main-block">
          {% block body %}{% endblock %}
          {% block lowerbody %}{% endblock %}
        </section>
      </section>
    </div>
    <div id="modal-dynamic" class="reveal-modal small" data-reveal>
      <h3 id="modal-header"></h3>
      <div id="modal-body"></div>
      <a class="close-reveal-modal">&#215;</a>
      <div id="modal-ok-box">
        <button id="modal-ok-button" class="button small">Ok</button>
      </div>
    </div>
    <script src="/static/js/vendor/jquery.js"></script>
    <script src="/static/js/vendor/jquery-migrate-1.2.1.min.js"></script>
    <script src="/static/js/vendor/jquery.lightbox_me.min.js"></script>
    <script src="/static/js/vendor/underscore-min.js"></script>
    <script src="/static/js/moment.min.js"></script>
    <script src="/static/js/sockjs.min.js"></script>
    <script src="/static/js/vendor/highstock.src.js"></script>
    <script src="/static/js/vendor/exporting.src.js"></script>
    <script src="/static/js/ripple-0.7.35-min.js"></script>
    <!--<script src="/static/js/ripple-0.7.39.js"></script>-->
    <script src="/static/js/stellar-0.9.0.js"></script>
    <script src="/static/js/bridge.js"></script>
    <script src="/static/js/foundation/foundation.js"></script>
    <script src="/static/js/foundation/foundation.dropdown.js"></script>
    <script src="/static/js/foundation/foundation.topbar.js"></script>
    <script src="/static/js/foundation/foundation.tab.js"></script>
    <script src="/static/js/foundation/foundation.reveal.js"></script>
    <script>
      window.sid = "{{ sid }}";
      window.wallet = {};
      BRIDGE.init();
      $(document).foundation();
      var doc = document.documentElement;
      doc.setAttribute('data-useragent', navigator.userAgent);
    </script>
  </body>
</html>
