<div class="fixed">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1><a href="/" id="title-text">CoinFish</a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
    </ul>
    <section class="top-bar-section">
      <ul class="left">
        <li class="divider"></li>
        <li><span id="live-feed"></span></li>
      </ul>
      <!-- <ul class="right">
        <li class="divider"></li>
        <li>
          <a href="/">Home</a>
        </li>
        <li class="divider"></li>
      </ul> -->
    </section>
  </nav>
</div>
