<div class="large-4 columns" id="wallet-block">
  <h4>Wallet</h4>
  <div class="row">
    <div id="wallet-address"></div>
  </div>
  <table>
    <tr>
      <td id="xrp-address" class="address"></td><td><span id="display-balance">0</span> XRP</td>
    </tr>
    <tr>
      <td id="btc-address" class="address"></td><td><span id="display-coin-balance">0</span> BTC</td>
    </tr>
  </table>
</div>
<div class="large-8 columns end" id="tabs-block">
  <dl class="tabs" data-tab>
    <dd class="active" id="payment-tab"><a href="#panel2-1"><h4>Send<br /><small>coins</small></h4></a></dd>
    <dd id="offer-tab"><a href="#panel2-2"><h4>Trade<br /><small>on the exchange</small></h4></a></dd>
  </dl>
  <div style="clear:both"></div>
  <div class="tabs-content">
    <div class="content active" id="panel2-1">
      <form id="Payment" method="POST" action='#' class="transaction">
        <input type="text" name="payment-to" id="payment-to" placeholder="Destination" />
        <input type="text" name="payment-value" id="payment-value" placeholder="Amount" />
        <select name="payment-currency" id="payment-currency" class="select-currency">
          <option value="BTC">Bitcoin (BTC)</option>
          <option value="XRP">Ripple (XRP)</option>
          <option value="XDG">Dogecoin (XDG)</option>
          <option value="NET">Netcoin (NET)</option>
        </select>
        <select name="payment-issuer" id="payment-issuer" class="select-issuer">
          <option value="Bitstamp">Bitstamp</option>
          <option value="Justcoin">Justcoin</option>
          <option value="SnapSwap">SnapSwap</option>
          <option value="rippleCN">rippleCN</option>
          <option value="RippleChina">RippleChina</option>
          <option value="TheRockTrading">TheRockTrading</option>
          <option value="rippleSingapore">rippleSingapore</option>
          <option value="btc2ripple">btc2ripple</option>
          <option value="Coinex">Coinex</option>
        </select>
        <button type="submit" class="button expand small radius">Payment</button>
      </form>
    </div>
    <div class="content" id="panel2-2">
      <div class="large-12 columns" id="offer-create-action">
        <form id="OfferCreate" method="POST" action='#' class="transaction">
          <div class="large-6 columns">
            <center><h6>Outgoing<br /><small>(what you lose)</small></h6></center>
            <input type="text" name="offer-create-gets-value" id="offer-create-gets-value" placeholder="Amount" />
            <select name="offer-create-gets-currency" id="offer-create-gets-currency" class="select-currency">
              <option value="BTC">Bitcoin (BTC)</option>
              <option value="XRP">Ripple (XRP)</option>
              <option value="XDG">Dogecoin (XDG)</option>
              <option value="NET">Netcoin (NET)</option>
            </select>
            <select name="offer-create-gets-issuer" id="offer-create-gets-issuer" class="select-issuer">
              <option value="Bitstamp">Bitstamp</option>
              <option value="Justcoin">Justcoin</option>
              <option value="SnapSwap">SnapSwap</option>
              <option value="rippleCN">rippleCN</option>
              <option value="RippleChina">RippleChina</option>
              <option value="TheRockTrading">TheRockTrading</option>
              <option value="rippleSingapore">rippleSingapore</option>
              <option value="btc2ripple">btc2ripple</option>
              <option value="Coinex">Coinex</option>
            </select>
          </div>
          <div class="large-6 columns end">
            <center><h6>Incoming<br /><small>(what you get)</small></h6></center>
            <input type="text" name="offer-create-pays-value" id="offer-create-pays-value" placeholder="Amount" />
            <select name="offer-create-pays-currency" id="offer-create-pays-currency" class="select-currency">
              <option value="BTC">Bitcoin (BTC)</option>
              <option value="XRP">Ripple (XRP)</option>
              <option value="XDG">Dogecoin (XDG)</option>
              <option value="NET">Netcoin (NET)</option>
            </select>
            <select name="offer-create-pays-issuer" id="offer-create-pays-issuer" class="select-issuer">
              <option value="Bitstamp">Bitstamp</option>
              <option value="Justcoin">Justcoin</option>
              <option value="SnapSwap">SnapSwap</option>
              <option value="rippleCN">rippleCN</option>
              <option value="RippleChina">RippleChina</option>
              <option value="TheRockTrading">TheRockTrading</option>
              <option value="rippleSingapore">rippleSingapore</option>
              <option value="btc2ripple">btc2ripple</option>
              <option value="Coinex">Coinex</option>
            </select>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <button type="submit" class="button expand small radius">Place Order</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>